<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load CSS and JS files -->
    <!-- 
        Load your custom scripts!
        These can retrieve and send data for the frontend,
        as well as change the way the website looks!
    -->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/map_styles.css') }}">
    <title>Persephone</title>
</head>
<body id = "map">
    <div class="container" id="maincont">
        <!-- Integrating HTML, CSS and JS -->
        <!-- 
            This chunk of the site uses HTML, CSS and JS. If you look in script.js,
            you can see how you can use JS to select elements from the HTML document.
            If you look in styles.css, you can see how you can use CSS to style elements
            in the HTML document.
            By using the ids of each of the elements, both the JS and CSS files are able to
            extract and modify the elements without having to do so in index.html. Otherwise,
            if everything is in one file, the code will look extremely messy!
            Here, we have a greeting initially called "Hello, world". However, using JS, you can
            change the greeting to a custom input by clicking the button.
        -->
        <div class="topnav">
            <a href="index.html" id="maintitle">PERSEPHONE</a>
            <a class="active" href="index.html">HOME</a>
            <a href="#map">MAP</a>
          </div>

        <!-- Texts in HTML -->
        <!-- 
            There are diffent types of text elements, but the most common ones are header, paragraph, and anchor elements.
            Headers go from h1 to h6, paragraph elements (p) are simply normal text, and anchor elements (a) are links
            that can wrap around other elements (text and images) and link to another site using the href attribute.
        -->
        <div class="text">
            <h1 id="title">MAP</h1>
        </div>

            <div class="container" id="searcharea">
                <select name="Filter" id="filter">
                    <option value="all">All</option>
                    <option value="Women's Only">Women's Shelters</option>
                    <option value="Domestic Violence">Domestic Violence Services</option>
                  </select>
                <input id="location" placeholder=" Enter zip code...">
                <button type="submit" id="search" onclick="getLocation()">Search</button>
                <button onclick="getCurrentLocation()" id="currentlocation">Use My Location</button>
                <br/>

            <div id="maparea">
                <iframe
                    id = "mapiframe"
                    width="675"
                    height="450"
                    style="border:2"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src = 'https://www.google.com/maps/embed/v1/view?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY&center=33.6486618,-117.842745&zoom=15'
                    
                    >
                </iframe>
            </div>
        </div>

        <div class="container" id="resultlist">
            <div class="text">
                <h1 id="resulttitle">RESULTS</h1>
            </div>
            <div class="container" id="overflow1">
                <div class="text" id="result1map">
                    <iframe
                    id = "result1mapframe"
                    width="200"
                    height="120"
                    style="border:2"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY
                        &q=LosAngeles+CA">
                </iframe>
                </div>
            <div class="text" id="result1">
                <h2 id="shelter_name1">Shelter Name</h2>
                <p id="shelter_info1">Address<br/>
                    Phone Number<br/>
                    Opening Hours</p>
            </div>
            </div>
            <hr />
            <div class="container" id="overflow2">
                <div class="text" id="result2map">
                    <iframe
                    id = "result2mapframe"
                    width="200"
                    height="120"
                    style="border:2"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY
                        &q=LosAngeles+CA">
                </iframe>
                </div>
                <div class="text" id="result2">
                    <h2 id="shelter_name2">Shelter Name</h2>
                    <p id="shelter_info2">Address<br/>
                        Phone Number<br/>
                        Opening Hours</p>
                </div>
            </div>
            <hr />
            <div class="container" id="overflow3">
                <div class="text" id="result3map">
                    <iframe
                    id = "result3mapframe"
                    width="200"
                    height="120"
                    style="border:2"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY
                        &q=LosAngeles+CA">
                </iframe>
                </div>
                <div class="text" id="result3">
                    <h2 id="shelter_name3">Shelter Name</h2>
                    <p id="shelter_info3">Address<br/>
                        Phone Number<br/>
                        Opening Hours</p>
                </div>
            </div>
            <hr />
            <div class="container" id="overflow4">
            <div class="text" id="result4map">
                <iframe
                id = "result4mapframe"
                width="200"
                height="120"
                style="border:2"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY
                    &q=LosAngeles+CA">
            </iframe>
            </div>
            <div class="text" id="result4">
                <h2 id="shelter_name4">Shelter Name</h2>
                <p id="shelter_info4">Address<br/>
                    Phone Number<br/>
                    Opening Hours</p>
            </div>
        </div>
            <hr />
            <div class="container" id="overflow5">
            <div class="text" id="result5map">
                <iframe
                id = "result5mapframe"
                width="200"
                height="120"
                style="border:2"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCREn6zRZ68S5xh7kMnUoM8M4o49qiIubY
                    &q=LosAngeles+CA">
            </iframe>
            </div>
            <div class="text" id="result5">
                <h2 id="shelter_name5">Shelter Name</h2>
                <p id="shelter_info5">Address<br/>
                    Phone Number<br/>
                    Opening Hours</p>
            </div>
        </div>
        </div>


    <div class="moon"></div>
    <div class="five-pointed-star"></div>
    <div class="four-pointed-star"></div>
    <div class="circles circles-1"></div>
    <div class="circles circles-2"></div>
    <div class="circles circles-3"></div>
    <div class="circles circles-4"></div>
    <div class="circles circles-5"></div>
    <div class="stars stars-1"></div>
    <div class="stars stars-2"></div>
    <div class="stars stars-3"></div>
    <div class="stars stars-4"></div>
    <div class="stars stars-5"></div>
    <div class="stars stars-6"></div>
    <div class="stars stars-7"></div>
    <div class="stars stars-8"></div>
    <div class="stars stars-9"></div>
    <div class="stars stars-10"></div>


    <!-- Load scripts at the end of your HTML to make pages load faster! -->
    <script src="../static/map.js"></script>
</body>
</html>
